body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navber {
  padding: 20px;
}
.recipe-nav{
  padding-left: 50px;
}
/* .logo {
   width: 100%; 
} */
.nav-menu ul{
  display: flex;
  margin: 0;
}
.nav-menu ul > li{
  /* padding: 20px; */
  list-style: none;
}

.nav-menu ul > li a {
  text-decoration: none;
  padding: 10px;
  color: rgba(0,0,0,.5);
}

.nav-menu ul > li a:hover {
  color:black;
}

.header {
  min-height: calc(100vh - 64px);
  background-size: cover;
  position: relative;
}

.header-hero {
  background-image:  linear-gradient(rgba(241, 81, 37, 0.3), rgba(241, 81, 37, 0.3)), url("./images/homeBcg.jpeg");
}

.default-hero {
   background-image:  linear-gradient(rgba(241, 81, 37, 0.3), rgba(241, 81, 37, 0.3)), url("./images/defaultBcg.jpeg");
}

.header-box{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f8f9fa;
}
.header-box .title{
  font-family: "Courgette", cursive;
  font-size: 5rem;
}

.search-btn .MuiButton-label{
  font-size: 25px;
}

.search-link-btn{
  text-decoration: none;
}

.search .title {
  font-family: "Courgette", cursive;
  text-transform: capitalize;
  font-size: 40px;
  text-align: center;
}

.search .title strong {
  color: #f15025;
}

.search .content {
  text-align: center;
}

.recipe-title {
  font-size: 20px !important;
  font-weight: 400 !important;
  margin-bottom: 10px !important;
}

.recipe-made {
  color: #ffc107 !important;
  font-family: "Courgette", cursive !important;
}

.recipe-root {
  margin-bottom: 30px !important;
  margin-right: 40px !important;
}
.recipe-root .MuiPaper-root{
  height: 100%  !important;
}


.media {
  height: 0;
  padding-top: 56.25%;
}

.instructions {
  margin-bottom: 30px !important;
  text-align: justify;
  line-height: 1.9 !important;
}

.ingredent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.ingredent .title {
    font-weight: bold;
    margin-bottom: 30px;
}
table {
  width:70%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  width: 52%;
  padding: 15px;
  text-align: left;
}


@media only screen and (max-width: 800px) {
  .recipe-root {
    margin-right: 0px !important;
  }
  table {
    width:100% !important;
  }
}

@media only screen and (max-width: 375px) {
  .recipe-root {
    margin-right: 0px !important;
  }
  .recipe-card{
    width: 100% !important;
  }
  .recipe-nav{
    padding-left: 0px;
  }
}