body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.navber {
  display: flex;
  align-items: center;
  padding: 10px;
}
.recipe-logo {

} */
.navber {
  padding: 20px;
}
.nav-menu ul{
  display: flex;
  margin: 0;
}
.nav-menu ul > li{
  /* padding: 20px; */
  list-style: none;
}

.nav-menu ul > li a {
  text-decoration: none;
  padding: 10px;
  color: rgba(0,0,0,.5);
}

.nav-menu ul > li a:hover {
  color:black;
}


.header-hero {
  min-height: calc(100vh - 64px);
  background-image:  linear-gradient(rgba(241, 81, 37, 0.3), rgba(241, 81, 37, 0.3)), url("./images/homeBcg.jpeg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed;
  background-position: center; */
  position: relative;
}

.header-box{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f8f9fa;
}
.header-box .title{
  font-family: "Courgette", cursive;
  font-size: 5rem;
}

.search-btn .MuiButton-label{
  font-size: 25px;
}

.search-link-btn{
  text-decoration: none;
}

.search .title {
  font-family: "Courgette", cursive;
  text-transform: capitalize;
  font-size: 40px;
  text-align: center;
}

.search .title strong {
  color: #f15025;
}

.search .content {
  text-align: center;
}

.recipe-title {
  font-size: 20px !important;
  font-weight: 400 !important;
  margin-bottom: 10px !important;
}

.recipe-made {
  color: #ffc107 !important;
  font-family: "Courgette", cursive !important;
}

.recipe-root {
  margin-bottom: 30px !important;
  margin-right: 40px !important;
}
.recipe-root .MuiPaper-root{
  height: 100%  !important;
}

@media only screen and (max-width: 800px) {
  .recipe-root {
    margin-right: 0px !important;
  }
}

@media only screen and (max-width: 375px) {
  .recipe-root {
    margin-right: 0px !important;
  }
  .recipe-card{
    width: 100% !important;
  }
}
